{% extends "base.html" %}

{% block titulo %}
<title>Coderhouse 47780 - Estudiantes</title>
{% endblock titulo %}

{% block contenido %}
<h3>Alumnos inscritos:</h3>
<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th></th>
    </tr>
    {% for estudiante in object_list %}
    <tr>
      <td>{{ estudiante.id }}</td>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellido }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
